* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background_top {
    background-image: url("../img/pattern.png");
    background-color: cornflowerblue;
    background-size: 300px;
    height: 100px;
}

#logo {
    width: 250px;
    padding: 35px;
    padding-left: 10px;
}

.head_container {
    margin: 10px;
}

.grey_text {
    color: grey;
}

#author {
    color:deepskyblue;
}

#date {
    font-size: 11px;
    padding: 0px;
}

.main_container {
    margin: 10px;
}

#credits {
    font-size: 9px;
    margin: 10px;
    padding: 1px;
}

#hightlight_text {
    background-color: yellow;
}

#list {
    margin: 25px;
}

.table {
    margin: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 1355px;
}

#main_row {
    background-color: rgb(59, 162, 246);
    color: white;
    display: block;
}

#second_row {
    display: block;
}

#lower_row {
    background-color: rgb(100, 197, 250);
    display: block;
}

.column {
    width: 451px;
}

.center_column {
   width: 451px;
}

.last_column {
    width: 451px;
}