* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background_top {
    background-image: url("../img/pattern.png");
    background-color: cornflowerblue;
    background-size: 300px;
    height: 100px;
}

#logo {
    width: 250px;
    padding: 35px;
    padding-left: 10px;
}

.head_container {
    margin: 10px;
}

.grey_text {
    color: grey;
}

#author {
    color:deepskyblue;
}

#date {
    font-size: 11px;
    padding: 0px;
}

.main_container {
    margin: 10px;
}

#credits {
    font-size: 9px;
    margin: 10px;
    padding: 1px;
}

#hightlight_text {
    background-color: yellow;
}

#list {
    margin: 25px;
}